<!-- Modal Structure Edit -->
<div class="modal-content">
  <h4>Editar <%= title %></h4><br/>
  <div class="container">
    <%= form_for editable do |f| %>
      <div class="row">
        <div class="input-field">
          <%= f.text_field :name, autofocus: true %>
          <%= f.label :name, "Nome", class: "active" %>
        </div>
        <div class="modal-footer">
          <%= link_to "Cancelar", "", method: :get,
            class: "modal-action modal-close waves-effect waves-red btn-flat" %>

            <%= f.submit "Editar",
              class: "modal-action modal-close waves-effect waves-green btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
