<h3>Tipos de copos</h3>

<!-- Chips initialization -->
<%= javascript_tag do %>
  var data = [];

  <% @types.each do |type| %>
    var tag = {
      tag: "<%= j type.name %>",
      id: <%= j type.id.to_s %>
    };

    data.push(tag);
  <% end %>
<% end %>

<h5>Adicionar</h5>


<% flash.each do |key, value| %>
  <%= content_tag :li, value, class: "#{key}" %>
<% end %>

<%= form_for @glass_type, html: { novalidate: true }, class: "col s12" do |f| %>

  <% if @glass_type.errors.any? %>
    <% @glass_type.errors.each do |attribute, message| %>
      <%= content_tag :li, message, class: "error" %>
    <% end %>
  <% end %>

  <br/>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :name, class: 'validate' %>
      <%= f.label :name, "Nome" %>
    </div>

    <div class="input-field col s6">
      <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
        <i class="material-icons">add</i>
       </button>
    </div>
  </div>
<% end %>

<h5>Existentes</h5><br/>
<div class="chips-initial" style="border-bottom: 0px;"></div>

<!-- Modal Structure Confirm-->
<div id="delete_chip_confirmation" class="modal">
  <div class="modal-content">
    <h4>Remover tipo de copo</h4>
    <p>Tem certeza que deseja excluir permanentemente o tipo de copo:
      <strong><span id="delete_chip_confirmation_glass_type"></span></strong>
    </p>
  </div>
  <div class="modal-footer">
    <%= link_to "Cancelar", glass_types_url, method: :get,
      class: "modal-action modal-close waves-effect waves-red btn-flat" %>

    <%= link_to "Remover", "", id: :destroy_glass_type_button, method: :delete,
      class: "modal-action modal-close waves-effect waves-green btn-flat" %>
  </div>
</div>

<!-- Modal Structure Container -->
<div id="edit_chip" class="modal"></div>
