<h3>Tipos de copos</h3>

<!-- Chips initialization -->
<%= javascript_tag do %>
  var data = [];

  <% @types.each do |type| %>
    var tag = {
      tag: "<%= j type.name %>",
      id: <%= j type.id.to_s %>
    };

    data.push(tag);
  <% end %>
<% end %>

<div class="chips chips-initial disabled"></div>

<%= form_for @glass_type, remote: true  do |f| %>
  <%= f.hidden_field :name %>
<% end %>

<!-- Modal Structure -->
<div id="delete_chip_confirmation" class="modal">
  <div class="modal-content">
    <h4>Remover tipo de copo</h4>
    <p>Tem certeza que deseja excluir permanentemente o tipo de copo:
      <strong><span id="delete_chip_confirmation_glass_type"></span></strong>
    </p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>

    <%= link_to "Remover", "", id: :destroy_glass_type_button, method: :delete,
      class: "modal-action modal-close waves-effect waves-green btn-flat" %>
  </div>
</div>
