<% flash.each do |key, value| %>
  <%= content_tag :li, value, class: "#{key}" %>
<% end %>

<%= form_for beer do |f| %>

  <% if beer.errors.any? %>
    <% beer.errors.each do |attribute, message| %>
      <%= content_tag :li, message, class: "error" %>
    <% end %>
  <% end %>

  <br/>
  <div class="row">
    <div class="input-field col s3">
      <%= f.text_field :code %>
      <%= f.label :code, "COD" %>
    </div>

    <div class="input-field col s9">
      <%= f.text_field :name %>
      <%= f.label :name, "Nome" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <select name="beer[beer_type_id]">
        <option value="" disabled selected>Escolha</option>
        <% styles.each do |style| %>
          <option value="<%= style.id %>" <%= style_selected(beer, style) %>><%= style.name %></option>
        <% end %>
      </select>
      <label>Estilo</label>
    </div>

    <div class="input-field col s6">
      <select name="beer[provider_id]">
        <option value="" disabled selected>Escolha</option>
        <% providers.each do |provider| %>
          <option value="<%= provider.id %>" <%= provider_selected(beer, provider) %>><%= provider.name %></option>
        <% end %>
      </select>
      <label>Fornecedor</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :price %>
      <%= f.label :price, "Preço" %>
    </div>

    <div class="input-field col s4">
      <%= f.text_field :cost %>
      <%= f.label :cost, "Custo" %>
    </div>

    <div class="input-field col s4">
      <%= f.text_field :stock %>
      <%= f.label :stock, "Estoque" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :volume %>
      <%= f.label :volume, "Volume em ml" %>
    </div>

    <div class="input-field col s6">
      <select name="beer[package_id]">
        <option value="" disabled selected>Escolha</option>
        <% packages.each do |package| %>
          <option value="<%= package.id %>" <%= package_selected(beer, package) %>><%= package.name %></option>
        <% end %>
      </select>
      <label>Embalagem</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <select name="beer_characteristics[]" multiple>
        <option value="" disabled selected>Escolha</option>
        <% beer_characteristics.each do |characteristic| %>
          <option value="<%= characteristic.id %>" <%= characteristic_selected(beer, characteristic) %>>
            <%= characteristic.name %>
          </option>
        <% end %>
      </select>
      <label>Características</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :batch_number %>
      <%= f.label :batch_number, "Lote" %>
    </div>

    <%= f.label :expiration_date, "Data de validade" %>
    <%= f.date_field :expiration_date, class: "datepicker col s6", placeholder: "Escolha a data" %>
  </div>

  <div class="row">
    <%= f.check_box :is_better_quality, class: "cols s12" %>
    <%= f.label :is_better_quality, "Qualidade superior" %>
  </div>

  <div class="row">
    <%= f.check_box :is_imported, class: "cols s12" %>
    <%= f.label :is_imported, "Importada"%>
  </div>

  <div class="right-align">
    <%= button_tag class: "waves-effect waves-light btn" do %>
      <i class="material-icons left">send</i><%= button_name %>
    <% end %>
  </div>
<% end %>

<br/>
<br/>
<br/>
