<h3>Cadastro de Cerveja</h3>

<br/>
<%= form_tag beers_path, :method => 'get', class: "col s12" do %>
  <div class="row">
    <div class="input-field col s6">
      <%= text_field_tag :search, params[:search], placeholder: "Procurar por nome...", required: true %>
      <%= label_tag :search, "Procurar", class: "active" %>
    </div>
    <div class="input-field col s6">
      <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
        <i class="material-icons">send</i>
      </button>
    </div>
  </div>
<% end %>

<br/>
<%= link_to "Nova Cerveja", new_beer_path, method: :get, class: "waves-effect waves-light btn" %>
<table class="striped">
  <thead>
    <tr>
      <th data-field="code">COD</th>
      <th data-field="name">Nome</th>
      <th data-field="style">Estilo</th>
      <th data-field="price">Preço</th>
      <th data-field="cost">Custo</th>
      <th data-field="stock">Estoque</th>
      <th data-field="actions" colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.code %></td>
        <td><%= beer.name %></td>
        <td><%= beer.beer_type.name %></td>
        <td><%= number_to_currency(beer.price, unit: "R$", separator: ",") %></td>
        <td><%= number_to_currency(beer.cost, unit: "R$", separator: ",") %></td>
        <td><%= beer.stock %></td>
        <td><%= link_to "Detalhes", beer_path(beer.id) %></td>
        <td><%= link_to "Editar", edit_beer_path(beer.id), method: :get %></td>
        <td>
          <%= link_to "Excluir", beer_path(beer.id), method: :delete,
           data: { confirm: "Tem certeza que deseja excluir a cerveja?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
