<h3>Detalhes de cerveja</h3>

<%= link_to "Editar Cerveja", edit_beer_path(@beer), method: :get, class: "waves-effect waves-light btn" %>
<table class="striped">
  <thead>
    <tr>
      <th>Atributo</th>
      <th>Valor</th>
    </tr>
  </thead>

  <tbody>
    <tr><td>ID</td><td><%= @beer.id %></td></tr>
    <tr><td>COD</td><td><%= @beer.code %></td></tr>
    <tr><td>Nome</td><td><%= @beer.name %></td></tr>
    <tr><td>Estilo</td><td><%= @beer.beer_type.name %></td></tr>
    <tr><td>Fornecedor</td><td><%= @beer.provider.name %></td></tr>
    <tr><td>Preço</td><td><%= number_to_currency(@beer.price, unit: "R$", separator: ",") %></td></tr>
    <tr><td>Custo</td><td><%= number_to_currency(@beer.cost, unit: "R$", separator: ",") %></td></tr>
    <tr><td>Estoque</td><td><%= @beer.stock %></td></tr>
    <tr><td>Lote</td><td><%= @beer.batch_number %></td></tr>
    <tr><td>Data de validade</td><td><%= @beer.expiration_date %></td></tr>
    <tr><td>Volume</td><td><%= @beer.volume %>ml</td></tr>
    <tr><td>Embalagem</td><td><%= @beer.package.name %></td></tr>
    <tr><td>Importada</td><td><%= boolean_to_text @beer.is_imported %></td></tr>
    <tr><td>Qualidade superior</td><td><%= boolean_to_text @beer.is_better_quality %></td></tr>
  </tbody>
</table>

<h5>Características da cerveja</h5>
<% @beer.beer_characteristics.each do |characteristic| %>
<div class="chip">
    <%= characteristic.name %>
  </div>
<% end %>

<br>
<br>
<br>
