<!DOCTYPE html>
<html>
  <head>
    <title>Beeking</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center" style="padding-left:316px">Beer King</a>
      </div>

      <ul id="slide-out" class="side-nav fixed">
        <li><a class="subheader">Adicionar</a></li>
        <li><%= link_to "Assinatura", class: "waves-effect" %></li>
        <li><%= link_to "Cliente", class: "waves-effect" %></li>
        <li><%= link_to "Clube", class: "waves-effect" %></li>
        <li><%= link_to "Indicação", class: "waves-effect" %></li>
        <li><%= link_to "Plano", class: "waves-effect" %></li>

        <li><div class="divider"></div></li>
        <li><a class="subheader">Adicionar auxiliares</a></li>
        <li><%= link_to "Característica", class: "waves-effect" %></li>
        <li><%= link_to "Característica cerveja", class: "waves-effect" %></li>
        <li><%= link_to "Cerveja", class: "waves-effect" %></li>
        <li><%= link_to "Clube extra", class: "waves-effect" %></li>
        <li><%= link_to "Copo", class:"waves-effect" %></li>
        <li><%= link_to "Restrição", class:"waves-effect" %></li>
        <li><%= link_to "Tipos de cerveja", class: "waves-effect" %></li>
        <li><%= link_to "Tipos de copos", glass_types_path, method: :get, class: "waves-effect" %></li>
      </ul>
    </nav>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
